/* Logo */

.logo {
	height: 225px;
	width: 225px;
	padding: 80px;
	margin: -3em 0 0 18em;
}

hr#lineone {
	width: 950px;
	margin: -50px 0 40px 0;
}

hr#linetwo {
	margin: 0 0 50px 0;
}

/* Primary Header */

h1 {
	font-family: 'Francois One', sans-serif;
	color: #000;
	font-size: 4em;
	margin: -16px 0 -10px 0;
	margin-bottom: -10px;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2em;
	
}

h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
}

em {
	font-size: 1.1em;
}

/* Body Text */

p {
	font-family: 'Roboto Slab', serif;
	color: #7D7D84;
	font-size: 1em;
	line-height: 21px;
}

p#main {
	max-width: 27em;
	margin-bottom: 20px;
}

#one {
	margin-left: 30px;
}


/* Baseline Links */

a:link,
a:visited {
	color: #381E28;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Palettes */

#color-palette {
	margin-left: 16px;
	padding-bottom: 7em;
}

#pattern-palette {
	margin-right: -20px;
	padding-bottom: 7em;

}

/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 3px solid #000;
	float: left;
	margin: 0 10px;
	height: 70px;
	width: 70px;
}

.color-1 {
	background: #000;
}

.color-2 {
	background: #7D7D84;
}

.color-3 {
	background: #8CBBD9;
}

.color-4 {
	background: #FFF;
}

.pattern-1 {
	background: url("../img/cream_dust.png");
}

.pattern-2 {
	background: url("../img/old_moon.png");
}

.pattern-3 {
	background: url("../img/white_leather.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}