/* Primary Header */

h2 {
	font-family: 'Fontdiner Swanky', cursive;
	color: #8E5C5D;
}

/* Body Text */

p {
	font-family: 'Lobster', cursive;
	color: #ccc;
	letter-spacing: 2px;
}

/* Baseline Links */

a:link,
a:visited {
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: dashed orange 2px;
}

a:hover {
	background: red;
}

/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: #423D57;
}

.color-2 {
	background: #4894B0;
}

.color-3 {
	background: #565394;
}

.pattern-1 {
	background: url("../img/swirl_pattern.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}